{% extends "base.html" %}
{% block content %}

<style>
  .card p {
    text-align: justify;
    text-wrap: pretty;
  }

  .card img[alt="Admin"] {
    float: right;
    shape-outside: inset(0 round 12px);
    margin: 0 0 12px 18px;
    clip-path: circle(50% at 50% 50%);
  }
</style>

<div class="container">
  <div class="card" style="position:relative; padding:20px;">

    <h2 style="text-align:center;">About the site</h2>

    <p>
      Welcome to Heavenly Paint Limited where quality meets creativity.
      We are a trusted provider of premium paints, coatings, allied, and home improvement products
      designed to bring lasting color and beauty to your spaces.

      <img src="{{ url_for('static', filename='uploads/admin.jpg') }}"
           style="width:200px;height:220px;border-radius:10px;border-style:none;"
           alt="Admin">

      At Heavenly Paint Limited, we combine professionalism with passion.
      Our paints are carefully selected and tested to ensure superior quality, durability, and elegance.
      Whether you’re a homeowner, artist, contractor, or an interior designer,
      our range is crafted to match every mood, style, and purpose.

      We take pride in offering an effortless online shopping experience.
      With our secure Paystack payment gateway, responsive customer support,
      and dependable delivery network, your satisfaction is guaranteed every step of the way.

      Our referal programs gives you the opportunity to save some cash on every purchase or gain from a friend when referred through your link.
      Payment to referrers are instant without any pending verification as all details are verified at signup.


      Behind every product we sell is a commitment to excellence, innovation, and customer trust.
      Because at Heavenly Paint Limited, we don’t just sell paints —
      we help you color your world with confidence and creativity.
    </p>

    <h4>Heavenly Paint Limited</h4>

    <aside style="text-align:right;">
     <!-- —<strong>Transforming spaces, Beautifying houses</strong>-->
     -<strong>Color your world with Shree</strong>
    </aside>

  </div>
</div>

{% endblock %}

