{% extends "base.html" %}
{% block content %}
<div class="checkout">
  <h2>Checkout</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <label>Name </label><br>{{ form.name }}<br><br>
    <label>Email </label><br>{{ form.email }}<br><br>
    <label>Phone </label><br>{{ form.phone }}<br><br>
    <div class="checkout-actions">
      <button class="btn" type="submit">Pay with Paystack</button>
    </div>
  </form>
  <div class="cart-overview">
    <h4>Cart</h4>
    <ul>
      {% for it in cart %}
      <li>
  <strong>{{ it.name }}</strong><br>

  Color:
  Color:
{% if it.color_name %}
  <span style="display:inline-block;width:12px;height:12px;background:{{ it.color_name }};border:1px solid #000;"></span>
  {{ it.color_name }}
{% else %}
  — 
{% endif %}
<br>

  Qty: {{ it.qty }} — ₦{{ "{:,.2f}".format(it.price * it.qty) }}
</li>

      {% endfor %}
    </ul>
    <p>Total: ₦{{ "{:,.2f}".format(amount) }}</p>
  </div>
</div>

<script>
document.querySelector("form").addEventListener("submit", async function(e){
    e.preventDefault(); 
    this.submit();
});
</script>

{% endblock %}
