{% extends "base.html" %}
{% block content %}
<h2 style="text-align:center; margin:40px;">Frequently Asked Questions</h2>
<div class="faq-list">
   <div>
        <details><summary style="color:inherit; cursor:pointer;">How do I place an order on your shop?</summary><div><i>To place an order, simply browse through our list of products and click “Add to Cart” on any item you wish to purchase.
           Once you’re done shopping, go to your cart, review your selected items, and click “Checkout.” 
          You’ll then be prompted to enter your shipping details and make payment securely through Paystack.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">Is my payment information safe on this site?</summary><div><i>Absolutely!. Your security is our top priority. All payments are processed via Paystack’s PCI-DSS certified system, which uses advanced encryption technology.
           We do not store or have access to your card details,
          everything is handled securely by the payment gateway.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">What payment methods do you accept?</summary><div><i>We accept secure online payments through Paystack, which supports debit and credit cards, bank transfers, USSD, and mobile wallets.
           This ensures flexibility and convenience for all customers across Nigeria and beyond.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">How can I register as a referrer?</summary><div><i>Becoming a referrer is simple and free. 
          Click “Become a Referrer” on our homepage or account dashboard, fill out a short registration form, and you’ll instantly receive a unique referral link.
           You’ll earn commissions each time someone makes a purchase using your referral link.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">How does the referral program work?</summary><div><i>Once you register as a referrer, you’ll get a unique link that tracks every purchase made through it.
           When a new/old customer buys something via your link, you earn a percentage commission. and you can also earn a commision if you purchase a product from the site as long as you are a referer. 
           You can monitor your referrals and earnings directly from your account dashboard.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">How do I withdraw my referral earnings?</summary><div><i>You can request a withdrawal as long as at least one person uses your link to purchase. 
          Simply go to your Referrer Dashboard, click “Withdraw,” no need for your account details as you will be asked for your account details at signup, you see your cash as you place the withdrawal, no long waiting or no approval form the admin required.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">Do I need an account before buying?</summary><div><i>No!, you can shop as a guest if you prefer. However, having an account as a referer gives you edge as you can also earn commisions as you shop, save your shipping details for faster checkout, earn rewards, and participate in our referral and loyalty programs.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">Can I become a seller or add my own products? </summary><div><i>Currently, only verified sellers or admins can add products to the store. If you wish to partner with us or sell through our platform, kindly reach out through our Business Partnership page or email for screening and onboarding details.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">Do you offer discounts or promotional offers?</summary><div><i>Yes! We regularly run discounts, sales, and seasonal promotions. To stay informed, subscribe to our newsletter or follow us on social media. Subscribers often receive exclusive discount codes and early access to new product releases.</i></div></details><br>
        <details><summary style="color:inherit; cursor:pointer;">How do I contact customer support? </summary><div><i>Our support team is available to assist you with any questions or issues. You can reach us through our Contact Page, email, or live chat on the website. We typically respond within a few minutes during working hours.</i></div></details>
      </div>

</div>
{% endblock %}
