{% extends "base.html" %}
{% block content %}
<section class="hero">


  <h1>Welcome to Heavenly Paint Limited</h1>
  <p>Color your world with <i>Shree<i></p>
</section>

<section class="product-grid">
  {% for p in products %}
  <article class="card">
    <img src="{{ url_for('main.uploaded_file', filename=p.image) if p.image else url_for('static', filename='uploads/placeholder.png') }}" alt="{{ p.name }}">
    <h3>{{ p.name }}</h3>
    <div class="price">₦{{ "{:,.2f}".format(p.price) }}</div>
    <div class="card-actions">
      <button onclick="openColorModal({{ p.id }}, '{{ p.name }}')" class="btn">Add to cart</button>
      <a href="{{ url_for('main.product', pid=p.id) }}" class="btn">Details</a>
    </div>
  </article>
  {% endfor %}

</section>

{% endblock %}

