{% extends "base.html" %}
{% block content %}

<div class="login-page">
    <h2 style="text-align:center;">Referrer Login</h2>

    <form method="POST" action="{{ url_for('main.referer_login') }}">

        <div class="form-group">
            <label for="whatsapp">WhatsApp Number</label>
            <input 
                type="text" 
                name="whatsapp_number" 
                id="whatsapp" 
                placeholder="e.g. 2348012345678" 
                required
            >
        </div>

        <button type="submit" class="btn">Login</button>
    </form>
</div>

{% endblock %}
